<div id="comment-<%= comment.id %>" class="row my-5">
    <div class="col-12">
    <%= link_to gravatar_for(user, size:20), user %>
    <span class="users"><%= link_to user.name, user %></span>
    <span class="timestamp">
        <%= time_ago_in_words(comment.created_at) %> ago.
    </span>
   
   </div>
    <div class="col-12">
        <span class="content">
            <%= form_with(url: polymorphic_url([user,commentable,comment]), method: :patch, local: false) do %>
      
          <%= text_field_tag 'content', nil, value: comment.content , class: "form-control"  %>
          <%= submit_tag "Update", class: "btn btn-primary mt-4" %>
      <% end %>
            </span>
    </div>
</div>