<div class="col-lg col-sm-8 col-md-3 m-auto">
<div class="card border-0 shadow ">
    <%= image_tag 'food_logo.jpg', alt: 'Food Logo', class: "card-img-top" %>
      <div class="card-body">
          <h5 class="card-title"><%= movie.name %></h5>

            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                Add
              </button>
              <ul class="dropdown-menu">
                <li><a>
                  <% if @watched_movies.include?(movie) %>
                <%= "Added to watched" %>
              <% else %>
                <%= form_tag(watched_user_movie_path(@user, movie), method: :post) do %>
                  <%= submit_tag "Watched List", class: "btn-link btn-primary" %>
                <% end %>
              <% end %>
                </a></li>

                <li><a>
                  <% if @watching_movies.include?(movie) %>
                  <%= "Added to watching" %>
                <% else %>
                  <%= form_tag(watching_user_movie_path(@user, movie), method: :post) do %>
                    <%= submit_tag "Watching list", class: "btn-link btn-primary" %>
                  <% end %>
                <% end %>
                </a></li>

                <li><a>
                  <% if @to_watch_movies.include?(movie) %>
                  <%= "Added to to_watch list" %>
                <% else %>
                  <%= form_tag(to_watch_user_movie_path(@user, movie), method: :post) do %>
                    <%= submit_tag "To_watch List", class: "btn-link btn-primary" %>
                  <% end %>
                <% end %>
                </a></li>

              </ul>
            </div>


      </div>
    </div>
</div>