
  <li><a>
      <% if @watched_movies.include?(movie) %>
        <%= "Added to watched" %>
          <% else %>
            <%= form_with(url: watched_user_movie_path(@user, movie), method: :post, local: false ) do |f| %>
              <%= f.hidden_field :id %>
                <%= submit_tag "Watched List" , class: "btn-link btn-primary" %>
                  <% end %>
                    <% end %>
    </a></li>

  <li><a>
      <% if @watching_movies.include?(movie) %>
        <%= "Added to watching" %>
          <% else %>
            <%= form_with(url: watching_user_movie_path(@user, movie), method: :post, local: false) do %>
              <%= submit_tag "Watching list" , class: "btn-link btn-primary" %>
                <% end %>
                  <% end %>
    </a></li>

  <li><a>
      <% if @to_watch_movies.include?(movie) %>
        <%= "Added to to_watch list" %>
          <% else %>
            <%= form_with(url: to_watch_user_movie_path(@user, movie), method: :post, local: false) do %>
              <%= submit_tag "To_watch List" , class: "btn-link btn-primary" %>
                <% end %>
                  <% end %>
    </a></li>
