
<%= form_with(url: user_movies_path(@user), method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search for movie" %>
  <%= submit_tag "Search"  %>
<% end %>

<div class="container">
  <div class="row justify-content-between">

    <% if @movies.empty? %>

      <%= form_with(url: addMovie_path, method: :get) do %>
      <%= submit_tag "Add movie to Database"  %>
    <% end %>
      
    <% else %>

    <% @movies.each do |movie| %>

       <%= render 'actions', movie: movie %>

    <% end %>

    <% end %>

    <%= will_paginate @movies %>
     

    

  </div>

  

</div>




