<div class="container mt-5 pt-5">

    <div class="row">
        
        <div class="col-12 col-sm-8 col-md-6 m-auto">
            <h1 class="my-5">Add Movie</h1>
            <div class="card border-0 shadow" style="width: 100%">
                <div class="card-body">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                        </svg>
                    </div>
                    <%= form_with(model: @movie,local:true) do |f| %>

                        <%= f.label :name %>
                        <%= f.text_field :name, class: 'form-control md-5' %>

                        <%= f.label :director, class: 'mt-2' %>
                        <%= f.text_field :director, class: 'form-control' %>

                        <%= f.label :image, class: 'mt-2' %>
                        <%= f.text_field :image, class: 'form-control', placeholder: "Image address url" %>

                        <%= f.submit "Save changes", class: "btn btn-primary mt-4" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
 