


<%= link_to "Add Movies", user_movies_path(@user), class: "btn btn-primary" %>

<div id="user_movies">
<h1>Watched Movies</h1>
<div class="user_movie_relationship_movies">
    <% @watched_movies.each do |movie| %>
        <div class="card">
        <%= image_tag 'movie_logo.jpg', alt: 'Food Logo', class: "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title"><%= movie.name %></h5>
            <h7 class="card-title"><%= movie.director %></h7>
            <p>Rating: <span id="rating_<%= movie.id %>"><%= @user.movie_rating(movie)||"-" %></span>
               <a href="#" class="modify-rating" data-movie-id="<%= movie.id %>">Modify</a>
            </p>
            <%= form_with(url: change_notes_user_movie_path(@user,movie),method: :patch, remote: true) do |f| %>
               <%= f.text_field :rating, id: "rating_input_#{movie.id}", style: "display:none;" %>
               <%= f.submit "Save", class:"btn btn-primary", id: "save_rating_#{movie.id}", style: "display:none;" %>
            <% end %>
            <p>Notes: <%= @user.movie_notes(movie)||"-" %></p>
            <%= form_tag(watching_user_movie_path(@user, movie), method: :post, remote: true) do %>
              <%= submit_tag "Add to Watching List", class: "btn btn-primary" %>
            <% end %>
            <%= form_tag(to_watch_user_movie_path(@user, movie), method: :post, remote: true) do %>
              <%= submit_tag "Add to To_watch List", class: "btn btn-primary" %>
            <% end %>
        </div>
        </div>
    <% end %>
</div>
<h1>Watching Movies</h1>
<div class="user_movie_relationship_movies">
    <% @watching_movies.each do |movie| %>
        <div class="card">
        <%= image_tag 'movie_logo.jpg', alt: 'Food Logo', class: "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title"><%= movie.name %></h5>
            <h7 class="card-title"><%= movie.director %></h7>
            <p>Notes: <%= @user.movie_notes(movie)||"-" %></p>
             <%= form_tag(watched_user_movie_path(@user, movie), method: :post, remote: true) do %>
              <%= submit_tag "Add to Watched List", class: "btn btn-primary" %>
            <% end %>
            <%= form_tag(to_watch_user_movie_path(@user, movie), method: :post, remote: true) do %>
              <%= submit_tag "Add to To_watch List", class: "btn btn-primary" %>
            <% end %>
        </div>
        </div>
    <% end %>
</div>
<h1>To_watch Movies</h1>
<div class="user_movie_relationship_movies">
    <% @to_watch_movies.each do |movie| %>
        <div class="card">
        <%= image_tag 'movie_logo.jpg', alt: 'Food Logo', class: "card-img-top" %>
        <div class="card-body">
            <h5 class="card-title"><%= movie.name %></h5>
            <h7 class="card-title"><%= movie.director %></h7>
            <p>Notes: <%= @user.movie_notes(movie)||"-" %></p>
             <%= form_tag(watched_user_movie_path(@user, movie), method: :post, remote: true) do %>
              <%= submit_tag "Add to Watched List", class: "btn btn-primary" %>
            <% end %>
            <%= form_tag(watching_user_movie_path(@user, movie), method: :post, remote: true) do %>
              <%= submit_tag "Add to Watching List", class: "btn btn-primary" %>
            <% end %>
        </div>
        </div>
    <% end %>
</div>

<div class="container">
  <h2>Dynamic Tabs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Link 1</a></li>
    <li><a class="dropdown-item" href="#">Link 2</a></li>
    <li><a class="dropdown-item" href="#">Link 3</a></li>
  </ul>
</div>

<%= javascript_include_tag 'my_js' %>

</div>
