<div class="container">
   <div class="row">
      <div class="col-4 row">
        <div class="col-12">
            <%= gravatar_for(current_user) %>
            <%= current_user.name %>
          <%= render 'shared/stats' %>
        </div>
      </div>

      <div class="col-8 row border border-dark rounded justify-content-center" style="overflow-y: scroll;height: 100vh;">
          <%= render @feeds %>
          <%= will_paginate @feeds %>
      </div>
   </div>
</div>
 