<div class="container">
   <div class="row">
      <div class="col-4 row">
        <div class="col-12">
            <%= gravatar_for(current_user) %>
            <%= current_user.name %>
        </div>
        <div class="col-6">
            <!-- followers count and link to them -->
            <%= current_user.followers.count %>
        </div>
        <div class="col-6">
            <!-- following count and link to them -->
            <%= current_user.following.count %>
        </div>
      </div>

      <div class="col-8">
          <%= @feed.each do |each_item| %>
             <%= each_item %>
          <% end %>
      </div>
   </div>
</div>
 