

<div class="tot_form">
    <h1>Sign Up</h1>
    <%= form_with(model: @user,local: true) do |f| %>
        <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :useremail %>
            <%= f.email_field :email, class: "form-control" %>
        </div>

        <%= f.submit "Sign up", class: "btn btn-primary" %>
    <% end %>
</div>

