<% @user = User.find(timeline.user_id) %>
<% @timelineType = Timeline.map_timelineType(timeline.timelineType_type, timeline.timelineType_id) %>
<div class="col-12 row bg-light my-4 py-3 rounded h-40">
   <div class="col-12">
      <h5><%= @user.name %> <%= Timeline.map_attributeType(timeline.attributeType) %> to <%= timeline.attributeValue %> </h5>
   </div>
   <div class="col-6 my-4">
      <%= image_tag(@timelineType.image || 'movie_logo.jpg' , class: "card-img-top rounded")  %>
   </div>
   <div class="col-6">
      <h3><%= @timelineType.name %></h3>
   </div>
</div>